attached_assets/screen-20260514-092021_1778768769243.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/screen-20260514-092402_1778768743919.mp4 filter=lfs diff=lfs merge=lfs -text
latter-house-project.tar.gz filter=lfs diff=lfs merge=lfs -text
